@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: azure;
  font: 500 16px "Roboto", sans-serif;
}

.container {
  display: block;
  min-width: 50%;
  max-width: 80%;
}

header,
footer {
  text-align: center;
  max-width: 80vw;
  min-width: 200px;
  margin: 2rem 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  width: 100%;
  background-color: #3f3d3d;
  margin: 0 auto;
  border-radius: 1rem;
}

.content div {
  text-align: center;
  padding: 25% 20%;
  height: 4rem;
  background-color: lightblue;
  border-radius: 0.5rem;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .content {
    display: block;
    padding: 1rem;
  }

  .content div {
    margin: 40px auto;
    width: 100px;
    padding: 1rem 0.5rem;
  }

  footer {
    display: block;
  }

  footer div {
    margin: 20px auto;
  }
}
